{% extends 'base.html.twig' %}

{% block title %}Créer évènement{% endblock %}

{% block body %}
    <div class="container">
        <h1>CREER UN NOUVEL EVENEMENT</h1>

        {{ include('event/_form.html.twig') }}

        <a class="btn-create" href="{{ path('event_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
