<div class="container-fluid bg-light footer">
    <div class="row justify-content-around">
        <!-- Menu -->
        <div class="col-3 d-flex flex-column menu">
            <a href="/details" title="A propos" class="menu">A propos</a>
            <a href="/event" title="Evènements" class="menu">Evènements</a>
        </div>
        <div class="col-3 d-flex flex-column menu">
            <a href="/artistes" title="Artistes" class="menu">Artistes</a>
            <a href="/category" title="Tarifs" class="menu">Tarifs</a>
        </div>
        <div class="col-3 d-flex flex-column menu">
            <a href="/agenda" title="Agenda" class="menu">Agenda</a>
            <a href="/contact" title="Contact" class="menu">Contact</a>
        </div>
        <!-- Social medias -->
        <div class="col-1 d-flex flex-column menu">
            <a href="#"  target="_blank" title="Twitter" class="menu">
                <img src="https://image.flaticon.com/icons/svg/145/145812.svg" alt="twitter" class="reseaux"></a>
        </div>
        <div class="col-1 d-flex flex-column menu">
            <a href="#" target="_blank" title="Facebook" class="menu">
            <img src="https://image.flaticon.com/icons/svg/145/145802.svg" alt="facebook" class="reseaux"></a>
        </div>
        <div class="col-1 d-flex flex-column menu">
            <a href="#" target="_blank" title="Instagram" class="menu">
            <img src="https://image.flaticon.com/icons/svg/174/174855.svg" alt="instagram" class="reseaux"></a>
        </div>
    </div>
</div>
<!--Partners-->
{#<div class="container">
    <div class="row justify-content-between">
        {% for partner in partners %}
            <div class="col-4 text-center partners">
                <a href="{{ partner.link }}" target="_blank" title="Partenaire">
                    <h6>{{ partner.name }}</h6>
                </a>
            </div>
        {% endfor %}
    </div>
</div>#}
