{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block body %}
    <div class="container">
        <h1>AGENDA DE NOS SPECTACLES</h1>
        <h2>SAISON 2019-2020</h2>
    </div>
{% endblock %}