{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>BIENVENUE AU WILD CIRCUS !</h1>
    </div>
    <div>
        <img alt="ban" src="{{ assets('images/bannière.jpeg') }}">
    </div>


{% endblock %}
