<form method="post" action="{{ path('place_delete', {'id': place.id}) }}" onsubmit="return confirm('Etes vous sûr(e) de vouloir supprimer ce lieu?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ place.id) }}">
    <button class="btn-show">Supprimer</button>
</form>
