{% extends 'base.html.twig' %}

{% block title %}Lieux{% endblock %}

{% block body %}
<div class="container">
    <h1>LISTE DES LIEUX</h1>

    <table class="table card">
        <thead>
            <tr>
                <th>NOM</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>
                    <a class="btn-validate" href="{{ path('place_show', {'id': place.id}) }}">Accéder</a>
                    <a class="btn-validate" href="{{ path('place_edit', {'id': place.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de lieu en cours</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('place_new') }}" class="btn-create">CREER UN NOUVEAU LIEU</a>
</div>
{% endblock %}
