<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <header>
        <!-- Navbar -->
        {% include 'wild/_navbar.html.twig' %}
        <!-- Navbar -->
    </header>

    <body>
    {% block navbar %}{% endblock %}
        {% block body %}

        {% endblock %}

    </body>

    <footer>
        <!-- Footer -->
        {% include 'wild/_footer.html.twig' %}
        <!-- Footer -->
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
